<!DOCTYPE html>

<html>

<head>

    <meta charset="utf-8">

    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>AdminLTE 3 | Dashboard</title>

    <!-- Tell the browser to be responsive to screen width -->

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Font Awesome -->

    <link rel="stylesheet" href="~/AdminLTE-3.0.4/plugins/fontawesome-free/css/all.min.css">

    <!-- Ionicons -->

    <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">

    <!-- Tempusdominus Bbootstrap 4 -->

    <link rel="stylesheet" href="~/AdminLTE-3.0.4/plugins/tempusdominus-bootstrap-4/css/tempusdominus-bootstrap-4.min.css">

    <!-- iCheck -->

    <link rel="stylesheet" href="~/AdminLTE-3.0.4/plugins/icheck-bootstrap/icheck-bootstrap.min.css">

    <!-- JQVMap -->

    <link rel="stylesheet" href="~/AdminLTE-3.0.4/plugins/jqvmap/jqvmap.min.css">

    <!-- Theme style -->

    <link rel="stylesheet" href="~/AdminLTE-3.0.4/dist/css/adminlte.min.css">

    <!-- overlayScrollbars -->

    <link rel="stylesheet" href="~/AdminLTE-3.0.4/plugins/overlayScrollbars/css/OverlayScrollbars.min.css">

    <!-- Daterange picker -->

    <link rel="stylesheet" href="~/AdminLTE-3.0.4/plugins/daterangepicker/daterangepicker.css">

    <!-- summernote -->

    <link rel="stylesheet" href="~/AdminLTE-3.0.4/plugins/summernote/summernote-bs4.css">

    <!-- Google Font: Source Sans Pro -->

    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700" rel="stylesheet">

</head>

<body class="hold-transition sidebar-mini layout-fixed">

    <div class="wrapper">

        <!-- Main Sidebar Container -->

        <aside class="main-sidebar sidebar-dark-primary elevation-4">



            <div class="sidebar">

                <!-- Sidebar user panel (optional) -->

                <div class="user-panel mt-3 pb-3 mb-3 d-flex">

                    <div class="image">

                        <img src="~/AdminLTE-3.0.4/dist/img/user2-160x160.jpg" class="img-circle elevation-2" alt="User Image">

                    </div>

                    <div class="info">

                        <a href="#" class="d-block">@Session["username"].ToString()</a>

                    </div>

                </div>

                <!-- Sidebar Menu -->

                <nav class="mt-2">

                    <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">

                        <li class="nav-item">

                            <a href="/Panel/PanelIndex/" class="nav-link">

                                <i class="nav-icon fas fa-tachometer-alt"></i>

                                <p>

                                    Profilim

                                </p>

                            </a>

                        </li>
                        <li class="nav-item">

                            <a href="/Mesaj/MesajIndex/" class="nav-link">

                                <i class="nav-icon far fa-envelope"></i>

                                <p>

                                    Gelen Mesajlar

                                </p>

                            </a>

                        </li>
                        <li class="nav-item">

                            <a href="/Mesaj/Giden/" class="nav-link">

                                <i class="nav-icon fas fa-chart-line"></i>

                                <p>

                                    Giden Mesajlar

                                </p>

                            </a>

                        </li>
                        <li class="nav-item">

                            <a href="/Mesaj/YeniIndex/" class="nav-link">

                                <i class="nav-icon fas fa-pen-alt"></i>

                                <p>

                                    Yeni Mesajlar

                                </p>

                            </a>

                        </li>
                        <li class="nav-item">

                            <a href="/Panel/duyurular/" class="nav-link">

                                <i class="nav-icon far fa-newspaper"></i>

                                <p>

                                    Duyurular

                                </p>

                            </a>

                        </li>
                        <li class="nav-item">

                            <a href="/Panel/Kitaplarim/" class="nav-link">

                                <i class="nav-icon fas fa-book"></i>

                                <p>

                                    Kitaplarım

                                </p>

                            </a>

                        </li>
                        <li class="nav-item">

                            <a href="/Vitrin/VitrinIndex/" class="nav-link">

                                <i class="nav-icon far fa-image"></i>

                                <p>

                                    Vitrin

                                </p>

                            </a>

                        </li>
                        <li class="nav-item">

                            <a href="/Panel/cıkıs/" class="nav-link">

                                <i class="nav-icon fas fa-sign-out-alt"></i>

                                <p>

                                    Çıkış Yap

                                </p>

                            </a>

                        </li>
                    </ul>

                </nav>

                <!-- /.sidebar-menu -->

            </div>

            <!-- /.sidebar -->

        </aside>

        <!-- Content Wrapper. Contains page content -->

        <div class="content-wrapper">

            <!-- Content Header (Page header) -->

            <div class="content-header">

                <div class="container-fluid">

                    <div class="row mb-2">





                    </div><!-- /.row -->

                </div><!-- /.container-fluid -->

            </div>

            <!-- /.content-header -->
            <!-- Main content -->

            <section class="content">

                <div class="container-fluid">

                    @RenderBody()



                </div><!-- /.container-fluid -->

            </section>

            <!-- /.content -->

        </div>

    </div>

    <!-- ./wrapper -->
    <!-- jQuery -->

    <script src="~/AdminLTE-3.0.4/plugins/jquery/jquery.min.js"></script>

    <!-- jQuery UI 1.11.4 -->

    <script src="~/AdminLTE-3.0.4/plugins/jquery-ui/jquery-ui.min.js"></script>

    <!-- Resolve conflict in jQuery UI tooltip with Bootstrap tooltip -->

    <script>

        $.widget.bridge('uibutton', $.ui.button)

    </script>

    <!-- Bootstrap 4 -->

    <script src="~/AdminLTE-3.0.4/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- ChartJS -->

    <script src="~/AdminLTE-3.0.4/plugins/chart.js/Chart.min.js"></script>

    <!-- Sparkline -->

    <script src="~/AdminLTE-3.0.4/plugins/sparklines/sparkline.js"></script>

    <!-- JQVMap -->

    <script src="~/AdminLTE-3.0.4/plugins/jqvmap/jquery.vmap.min.js"></script>

    <script src="~/AdminLTE-3.0.4/plugins/jqvmap/maps/jquery.vmap.usa.js"></script>

    <!-- jQuery Knob Chart -->

    <script src="plugins/jquery-knob/jquery.knob.min.js"></script>

    <!-- daterangepicker -->

    <script src="~/AdminLTE-3.0.4/plugins/moment/moment.min.js"></script>

    <script src="~/AdminLTE-3.0.4/plugins/daterangepicker/daterangepicker.js"></script>

    <!-- Tempusdominus Bootstrap 4 -->

    <script src="~/AdminLTE-3.0.4/plugins/tempusdominus-bootstrap-4/js/tempusdominus-bootstrap-4.min.js"></script>

    <!-- Summernote -->

    <script src="~/AdminLTE-3.0.4/plugins/summernote/summernote-bs4.min.js"></script>

    <!-- overlayScrollbars -->

    <script src="~/AdminLTE-3.0.4/plugins/overlayScrollbars/js/jquery.overlayScrollbars.min.js"></script>

    <!-- AdminLTE App -->

    <script src="~/AdminLTE-3.0.4/dist/js/adminlte.js"></script>

    <!-- AdminLTE dashboard demo (This is only for demo purposes) -->

    <script src="~/AdminLTE-3.0.4/dist/js/pages/dashboard.js"></script>

    <!-- AdminLTE for demo purposes -->

    <script src="~/AdminLTE-3.0.4/dist/js/demo.js"></script>

</body>

</html>