@using MvcKutuphane.Models.Entity;
@model List<Tbl_kategori> /*NERDEKİ VERİLERİ LİSTELEYECEĞİN DATABASE İ GETİRİR*/

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/Layout.cshtml";
}

<h2>Kategoriler</h2>
<table class="table table-bordered">
    <tr>
        <th>Katagori Id</th>
        <th>Katagori Adı</th>
        <th>Sil</th>
        <th>Güncelle</th>
    </tr>
    @foreach (var kt in Model)
    {
        <tr>
            <td>@kt.ID</td>
            <td>@kt.Ad</td>
            <td><a href="/Kategori/KategoriSil/@kt.ID" class="btn btn-danger">Sil</a></td>
            <td><a href="/Kategori/KategoriGetir/@kt.ID" class="btn btn-success">Güncelle</a></td>
        </tr>
    }

</table>
<a href="/Kategori/KategoriEkle/" class="btn btn-primary">Yeni Katagori Ekle</a>
