@model MvcKutuphane.Models.Entity.Tbl_kategori
@{
    ViewBag.Title = "KatagoriEkle";
    Layout = "~/Views/Shared/Layout.cshtml";
}

<form class="form-group" method="post">
    <div></div>
    <div style="margin-top:15px">
        <label>Kategori Adı </label>
        <input type="text" class="form-control" name="AD"/>
    </div>
    <div style="margin-top:15px">
        <button class="btn btn-info" id="btn1">Kategori ekle</button>

    </div>

</form>

