
@{
    Layout = null;
}
<link href="~/Content/bootstrap.min.css" rel="stylesheet" />
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <style>
        body {
            font-family: "Lato", sans-serif;
        }

        .sidebar {
            height: 100%;
            width: 240px;
            position: fixed;
            z-index: 1;
            top: 0;
            left: 0;
            background-color: #111;
            overflow-x: hidden;
            padding-top: 16px;
        }

            .sidebar a {
                padding: 10px 14px 10px 10px;
                text-decoration: none;
                font-size: 18px;
                color: white;
                display: block;
            }

                .sidebar a:hover {
                    color: #0094ff;
                }

        .main {
            margin-left: 240px; /* Same as the width of the sidenav */
            padding: 0px 10px;
        }

        @@media screen and (max-height: 450px) {
            .sidebar {
                padding-top: 15px;
            }

                .sidebar a {
                    font-size: 18px;
                }
        }
    </style>
</head>
<body>

    <div class="sidebar">
        <a href="/istatistik/Index/"><i class="glyphicon glyphicon-home"></i> &nbsp; Ana Sayfa</a>
        <a href="/Kategori/Index/"><i class="glyphicon glyphicon-list"></i> &nbsp; Kategoriler</a>
        <a href="/Kitap/Index/"><i class="glyphicon glyphicon-book"></i> &nbsp; Kitaplar</a>
        <a href="/Yazar/Index/"><i class="glyphicon glyphicon-pencil"></i> &nbsp; Yazarlar</a>
        <a href="/Uye/Index/"><i class="glyphicon glyphicon-user"></i> &nbsp; Üyeler</a>
        <a href="/Personel/Index/"><i class="glyphicon glyphicon-tower"></i> &nbsp; Personeller</a>
        <a href="/Odunc/OduncVer/"><i class="glyphicon glyphicon-circle-arrow-right"></i> &nbsp; Ödünç Kitap Ver</a>
        <a href="/Odunc/Index/"><i class="glyphicon glyphicon-circle-arrow-left"></i> &nbsp; Ödünç Kitap Al</a>
        <a href="/istatistik/Index/"><i class="glyphicon glyphicon-sort"></i> &nbsp; İstatistikler</a>
        <a href="/Duyuru/Index/"><i class="glyphicon glyphicon-earphone"></i> &nbsp; Duyurular</a>
        <a href="/islem/index/"><i class="glyphicon glyphicon-dashboard"></i> &nbsp; İşlemler</a>
        <a href="/istatistik/Hava/"><i class="glyphicon glyphicon-cloud"></i> &nbsp; Hava Raporu</a>
        <a href="/istatistik/HavaKart/"><i class="glyphicon glyphicon-plus"></i> &nbsp; Hava Kartları </a>
        <a href="/istatistik/Galeri/"><i class="glyphicon glyphicon-picture"></i> &nbsp; Galeri</a>
        <a href="/istatistik/LinqKart/"><i class="glyphicon glyphicon-bookmark"></i> &nbsp; Linq Kartlar</a>
        <a href="/vitrin/Index/"><i class="glyphicon glyphicon-gift"></i> &nbsp; Vitrin</a>
        <a href="#"><i class="glyphicon glyphicon-cog"></i> &nbsp; Ayarlar</a>
        <a href="#"><i class="glyphicon glyphicon-phone"></i> &nbsp; Yardım</a>
        <a href="#"><i class="glyphicon glyphicon-remove-sign"></i> &nbsp; Çıkış</a>
    </div>

    <div class="main">
        @RenderBody()
    </div>

</body>
</html>
