@using MvcKutuphane.Models.Entity
@model List<Tbl_duyurular>
@{
    ViewBag.Title = "duyuruIndex";
    Layout = "~/Views/Shared/Layout.cshtml";
    string renk = "";
}
<h2>Duyurular</h2>
<table class="table table-bordered">
    <tr>
        <th>Duyuru No</th>
        <th>Kategori</th>
        <th>Tarih</th>
        <th>Sil</th>
        <th>İçerik</th>
    </tr>
    @foreach (var kt in Model)
    {
        if (kt.kategori == "Diğer")
        {
            renk = "bg-info text-white";
        }


        <tr>
            <td>@kt.ID</td>
            <td class="@renk">@kt.kategori</td>
            <td>@Convert.ToDateTime(kt.tarih).ToString("dd/MM/yyyy")</td>
            <td><a href="/duyuru/duyuruSil/@kt.ID" class="btn btn-danger">Sil</a></td>
            <td><a href="/duyuru/duyuruDetay/@kt.ID" class="btn btn-success" style="background-color:skyblue">Detaylar</a></td>
        </tr>
    }

</table>
<a href="/duyuru/yeniDuyuru/" class="btn btn-primary">Yeni Duyuru Ekle</a>



