@using MvcKutuphane.Models.Entity
@model List<Tbl_mesajlar>
@{

    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutPanel.cshtml";
}
<!DOCTYPE html>

<html>

<head>

    <meta charset="utf-8">

    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>AdminLTE 3 | Mailbox</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../../plugins/fontawesome-free/css/all.min.css">
    <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
    <link rel="stylesheet" href="../../plugins/icheck-bootstrap/icheck-bootstrap.min.css">
    <link rel="stylesheet" href="../../dist/css/adminlte.min.css">
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700" rel="stylesheet">

</head>

<body class="hold-transition sidebar-mini">
    <section class="content">

        <div class="row">

            @Html.Partial("part1")
            <div class="col-md-9">

                <div class="card card-primary card-outline">

                    <div class="card-header">

                        <h3 class="card-title">Gelen Kutusu</h3>

                        <div class="card-tools">

                            <div class="input-group input-group-sm">

                                <input type="text" class="form-control" placeholder="Mail ara">

                                <div class="input-group-append">

                                    <div class="btn btn-primary">

                                        <i class="fas fa-search"></i>

                                    </div>

                                </div>

                            </div>

                        </div>
                    </div>
                    <div class="card-body p-0">

                        <div class="mailbox-controls">
                            <button type="button" class="btn btn-default btn-sm checkbox-toggle">

                                <i class="far fa-square"></i>

                            </button>

                            <div class="btn-group">

                                <button type="button" class="btn btn-default btn-sm"><i class="far fa-trash-alt"></i></button>

                                <button type="button" class="btn btn-default btn-sm"><i class="fas fa-reply"></i></button>

                                <button type="button" class="btn btn-default btn-sm"><i class="fas fa-share"></i></button>

                            </div>
                            <button type="button" class="btn btn-default btn-sm"><i class="fas fa-sync-alt"></i></button>

                            <div class="float-right">

                                1-50/200

                                <div class="btn-group">

                                    <button type="button" class="btn btn-default btn-sm"><i class="fas fa-chevron-left"></i></button>

                                    <button type="button" class="btn btn-default btn-sm"><i class="fas fa-chevron-right"></i></button>

                                </div>
                            </div>
                        </div>

                        <div class="table-responsive mailbox-messages">

                            <table class="table table-hover table-striped">

                                <tbody>
                                    @foreach(var x in Model) {
                                    <tr>

                                        <td>

                                            <div class="icheck-primary">

                                                <input type="checkbox" value="" id="check1">

                                                <label for="check1"></label>

                                            </div>

                                        </td>

                                        <td class="mailbox-star"><a href="#"><i class="fas fa-star text-warning"></i></a></td>

                                        <td class="mailbox-name"><a href="read-mail.html">@x.Gonderen</a></td>

                                        <td class="mailbox-subject">

                                            <b>@x.Konu</b> 

                                        </td>

                                        <td class="mailbox-attachment"></td>

                                        <td class="mailbox-date">@x.Tarih</td>

                                    </tr>
                                    }
                                </tbody>

                            </table>
                        </div>
                    </div>
                    <div class="card-footer p-0">

                        <div class="mailbox-controls">
                            <button type="button" class="btn btn-default btn-sm checkbox-toggle">

                                <i class="far fa-square"></i>

                            </button>

                            <div class="btn-group">

                                <button type="button" class="btn btn-default btn-sm"><i class="far fa-trash-alt"></i></button>

                                <button type="button" class="btn btn-default btn-sm"><i class="fas fa-reply"></i></button>

                                <button type="button" class="btn btn-default btn-sm"><i class="fas fa-share"></i></button>

                            </div>
                            <button type="button" class="btn btn-default btn-sm"><i class="fas fa-sync-alt"></i></button>

                            <div class="float-right">

                                1-50/200

                                <div class="btn-group">

                                    <button type="button" class="btn btn-default btn-sm"><i class="fas fa-chevron-left"></i></button>

                                    <button type="button" class="btn btn-default btn-sm"><i class="fas fa-chevron-right"></i></button>

                                </div>
                            </div>
                        </div>

                    </div>

                </div>
            </div>
        </div>
    </section>

    <aside class="control-sidebar control-sidebar-dark">

    </aside>
    <script src="../../plugins/jquery/jquery.min.js"></script>
    <script src="../../plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="../../dist/js/adminlte.min.js"></script>
    <script>
$(function () {
    $('.checkbox-toggle').click(function () {

      var clicks = $(this).data('clicks')

      if (clicks) {
        $('.mailbox-messages input[type=\'checkbox\']').prop('checked', false)

        $('.checkbox-toggle .far.fa-check-square').removeClass('fa-check-square').addClass('fa-square')

      } else {
        $('.mailbox-messages input[type=\'checkbox\']').prop('checked', true)

        $('.checkbox-toggle .far.fa-square').removeClass('fa-square').addClass('fa-check-square')

      }

      $(this).data('clicks', !clicks)

    })
    $('.mailbox-star').click(function (e) {

      e.preventDefault()
      var $this = $(this).find('a > i')

      var glyph = $this.hasClass('glyphicon')

      var fa    = $this.hasClass('fa')
      if (glyph) {

        $this.toggleClass('glyphicon-star')

        $this.toggleClass('glyphicon-star-empty')

      }
      if (fa) {

        $this.toggleClass('fa-star')

        $this.toggleClass('fa-star-o')

      }

    })
  })</script>
    <script src="../../dist/js/demo.js"></script>

</body>

</html>




