@using MvcKutuphane.Models.Entity;
@model List<Tbl_personel>
@{
    ViewBag.Title = "PersonelIndex";
    Layout = "~/Views/Shared/Layout.cshtml";
}
<h2>Personeller</h2>
<table class="table table-bordered">
    <tr>
        <th>Personel Id</th>
        <th>Personel Adı</th>
        <th>Sil</th>
        <th>Güncelle</th>
    </tr>
    @foreach (var kt in Model)
    {
        <tr>
            <td>@kt.PersonelID</td>
            <td>@kt.PersonelAdSoyad</td>
            <td><a href="/Personel/PersonelSil/@kt.PersonelID" class="btn btn-danger">Sil</a></td>
            <td><a href="/Personel/PersonelGetir/@kt.PersonelID" class="btn btn-success">Güncelle</a></td>
        </tr>
    }

</table>
<a href="/Personel/PersonelEkle/" class="btn btn-primary">Yeni Personel Ekle</a>

